# environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# UV files
.uv/
uv.lock

# IDE files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
